.form-main-container{
    background-color: #BCB9B9;
    width: 463px;
    height: 633px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 354px;
    height: 441px;
    
}
.form-input{
    width: 354px;
    height: 51px;
    color: #BCB9B9;
    font-size: 18px;
    border: 1px solid #BCB9B9;
}
.btn-send{
    background: #23DE2B;
    width: 186px;
    height: 56px;
    color: #fff;
    border-radius: 6px;
}